# Dependencies and Package Manager Store
.pnpm-store/
node_modules/

# Local Environment files
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
